.register--main {
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .error {
    border: 2px solid red;
    + .login--button {
      cursor: not-allowed;
    }
    &:hover {
      border: 2px solid red;
    }
  }
  .register--key {
    width: 80%;
    margin-top: 5px;
    &---description {
      color: red;
    }
    pre {
      font-size: 10px;
      width: 80%;
    }
  }
  label {
    width: 80%;
  }
  .login--button {
    margin-top: 5px;
  }
}
