@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp');

body {
    background: #F2F2F2;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
#app {
    height: 100vh;
    text-align: center;
    font-weight: 100;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div--main {
    font-size: 96px;
}
